*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  width: 99.7%;
  height: 10vh;
  display: flex;
  background: #333;
  z-index: 2;
  /* this good */
  position: fixed;
  text-shadow: none;
}
.header1{
  display: flex;
  width: 30%;
  height: 10vh;
  align-items: center;
  text-align: center;
  color: white;
  font-family:cursive;
}
.header1 h3{
  margin-left: 30px;
  /* border: 2px solid red; */
  background-color: rgb(18, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height :10vh;
}
.header2{
  width: 88%;
  font-size: larger;
  display:flex;
  justify-content: end;

}
.header2 div{
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
.header2 h3{
  height: 10vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
}
.header2 h3:hover{
    background-color: rgb(2, 141, 2);
}
/* url("img/hero/hero-1.jpg" */
.banner{
  background-color: black;
  width: 99.7%;
  height: 16vh;
  display: flex;
  align-items: flex-end;
  color: white;
  z-index: 1;
}
.banner1{
  width: 35%;
  display: flex;
  justify-content: end;
}
.banner2{
  width: 65.7%;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner2 p{
  margin-right: 20px;
}
.Third-part{
  width: 99.7;
  height: 12vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.men-image{
  background-image: url('https://preview.colorlib.com/theme/malefashion/img/logo.png.webp');
  width: 20%;
  height: 3vh;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: end;
  margin-left: 200px;
}
.men-ul{
  display: flex;
  width: 40%;
  margin-right: 20px;
}

.first-ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: black;
  position: relative;
  padding: 0 10px;
}
.first-ul li{
  position: relative;
  color: #333;
  letter-spacing: 0.8px;
  padding: 0 10px;
  
}
.first-ul :after{
  content: '';
  position: absolute;
  background-color: red;
  height: 3px ;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.first-ul :hover:after{
  width: 100%;
  cursor: pointer;
}
.third-end{
  display: flex;
  width: 25% ;
  justify-content: space-between;
  
}
.third-end button{
  margin-left: 50px;
  background-color: rgb(52, 52, 255);
  color: white;
  border-radius: 50%;
  padding: 0 4px 0px;
  border: none;
}
.third-end button:hover{
  background-color: rgb(153, 153, 255);
}
.Background-image{
  background-image: url('https://preview.colorlib.com/theme/malefashion/img/hero/hero-1.jpg.webp');
  width: 99.7;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 5px;
}
.hero-text{
  /* border: 2px solid red; */
  width: 70%;
  font-family:"Nunito Sans", sans-serif; 
  font-weight: 100;
  word-spacing: 2px;
}
.hero-div h5{
  color: red;
  font-family: 'Nunito sans',sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.hero-div h1{
  font-size: 60px;
  font-family:"Nunito Sans", sans-serif; 
  font-weight: 400;
  margin-bottom: 30px;
}
.hero-div p{
  margin-bottom: 40px;
  color: #333;
  letter-spacing: 0.8px;
}
.btn1{
  background-color: black;
  border: none;
  color : white;
  display: flex;
  align-items: center;
  width: 30%;
  height: 7vh;
  font-size: 15px;
  justify-content: center;
  /* border-radius: 20px; */
  font-family:  "Nunito Sans", sans-serif;
}
.btn1:hover{
  background-color: rgb(36, 36, 36);
}
.main-hero{
  /* border: 2px solid black; */
  display: flex;
  justify-content: end;
  width: 50%;
}
.hero-div span
{
  margin-left: 10px;
}
.hero-div{
   height: 70vh; 
}
.social-icon{
  height: 43vh;
  display: flex;
  align-items: flex-end;
}
.social-icon p{ 
  height: 5vh;
  width: 10%;
  margin-right: 2px;
  color: #333;
  size: 50px;
}

/* Position Container */

.position-container{
  width: 100%;
  height: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.position-banner{
  width: 80%;
  /* border: 2px solid rgb(255, 0, 0); */
  height: 1100px;
  padding-top:100px;
  padding-bottom: 100px;
  /* background-color: #333; */
  position: relative;
}
.banner3{
  position : absolute;
  right: 150px;
  top: 0px;
}
.banner4{
  font-size: 28px;
  width: 30%;
  position: absolute;
  left: 320px;
  font-family: 'Nunito sans',sans-serif;
  font-weight: 100;

}
.banner5{
  position: absolute;
  top: 360px;
}
.banner6{
  font-size: 24px;
  /* border: 2px solid red; */
  width: 30%;
  position: absolute;
  bottom: 160px;
  font-weight: 100;
  font-family: 'Nunito sans',sans-serif;
}
.banner7{
  position: absolute;
  bottom: 120px;
  right: 80px;
}
.banner8{
  font-size: 24px;
  /* border: 2px solid red; */
  width: 25%;
  position: absolute;
  bottom: 320px;
  right: 420px;
  font-family: 'Nunito sans',sans-serif;
  font-weight: lighter;
}
.banner4 p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: black;
  position: relative;
  padding: 0 10px;
  margin-top: 20px;
}
.banner4 p{
  position: relative;
  color: #333;
  letter-spacing: 0.8px;
  padding: 0 10px;
  
}
.banner4 :after{
  content: '';
  position: absolute;
  background-color: rgb(255, 62, 62);
  height: 3px ;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.banner4 :hover:after{
  width: 50%;
  cursor: pointer;
}
.banner6 p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: black;
  position: relative;
  padding: 0 10px;
  margin-top: 20px;
}
.banner6 p{
  position: relative;
  color: #333;
  letter-spacing: 0.8px;
  padding: 0 10px;
  
}
.banner6 :after{
  content: '';
  position: absolute;
  background-color: rgb(255, 62, 62);
  height: 3px ;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.banner8 p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: black;
  position: relative;
  padding: 0 10px;
  margin-top: 20px;
}
.banner8 p{
  position: relative;
  color: #333;
  letter-spacing: 0.8px;
  padding: 0 10px;
  
}
.banner8 :after{
  content: '';
  position: absolute;
  background-color: rgb(255, 62, 62);
  height: 3px ;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.banner8 :hover:after{
  width: 50%;
  cursor: pointer;
}
.card-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.card{
  width: 80%;
  height: 130vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.card1{
  box-shadow: 0px 3px 5px black;
  height: 57vh;
  border-radius: 20px;
  border: 2px solid rgb(121, 119, 119);
  position: relative;
}
.flex{
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-left: 71px;
  margin-right: 8px;
}
.title{
  text-align: center;
  margin-bottom: 10px;

}
.heart-blank{
    position: absolute;
    top: 20px;
    right: 15px;
}
.fasbtn{
  margin-top: 15px;
  margin-left: 65px;
}
.bag{
  margin-top: 220px;
  width: 100%;
  height: 80vh;
  background: #f3f2ee;
  display: flex;
  align-items: center;
}
.whitebg{
  width: 20%;
  height: 40vh;
  background-color: white;
  line-height: 3;
  position: relative;
}
.whitebg p{
    font-size: 35px;
    margin-left: 180px;
    margin-top: 25px;
    width: 100%;
    color: rgb(168, 168, 168);
}
.whitebg span{
  position: absolute;
  font-size: 35px;
  top: 90px;
  left: 180px;
  width: 100%;
  font-weight: 500;
}
.bag-image{
  margin-left: 250px;
  position: relative;
}
.bag-image div{
  background-color: black;
  color: white;
  width: 40%;
  height: 15vh;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.offer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  right: 0px;
}
.offer p{
  margin-top: 25px;
  margin-right: 10px;
  width: 120%;
}
.Siximage{
  margin-top: 40px;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}
.sixchild{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.sixchild2{
  width: 25%;
  height: 40vh;
  margin-top: 40px;
  margin-left: 20px;
}
.sixchild2 h2{
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Nunito Sans", sans-serif;
  color: rgba(0, 0, 0, 0.864);
}
.sixchild2 p{
  margin-bottom: 50px;
  color: grey;
  line-height: 1.8;
  font-family: "Nunito Sans", sans-serif;
}
.sixchild2 h3{
  font-size: 40px;
  color: rgba(255, 0, 0, 0.656);
  font-family: "Nunito Sans", sans-serif;
}
.h4-h1{
  width: 100%;
  text-align: center;
}
.h4-h1 h4{
  color: rgba(255, 0, 0, 0.738);
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.threeimage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imge3{
  width: 80%;
  height: 55vh;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.main-end{
  width: 25%;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  bottom: 2px;
  margin-left: 30px;
  height: 25vh;
  box-shadow: 0 0 2px black;
}
.main-end p{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}
.main-end h3{
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}
.main-end span{
  text-align: center;
  margin-bottom: 15px;
  margin-left: 100px;
  position: absolute;
  bottom: 30px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-end span:after{
  content: '';
  position: absolute;
  background-color: rgb(255, 62, 62);
  height: 3px ;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.main-end span:hover:after{
  width: 50%;
  cursor: pointer;
}
.main-footer{
  width: 100%;
  background-color: rgb(34, 34, 34);
  height: 60vh;
  color: white;
  display: flex;
  justify-content: space-around;
}
.main-footer div{
  width: 16%;
  margin-top: 90px;
}
.main-footer h3{
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.main-footer h1{
  margin-bottom: 20px;
}
.main-footer p{
  color: grey;
  width: 50%;
}
.main-footer span{
  color: rgba(255, 251, 0, 0.808);
  text-shadow: 0 0 1px rgb(0, 0, 0);
}
.twelve{
  display: flex;
}
.imageflex{

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imageuper{
  margin-bottom: 20px;
}
